project/target
simWorkspace
*.log
Finka.v*
cpu0.yaml
target
.bsp/sbt.json
software/c/finka/*/build
vivado*.jou
vivado*.str
iverilog_dump.v
*.fst
*.fst.hier
cocotb/**/results.xml
cocotb/**/sim_build
# generate Verilog
*.v
*.sv
# Python compiled
*.pyc

# hardware/test
*.logTrace
obj_dir/

# Vivado test projects
vivado-test-*

# RISC-V GCC intermediate files
software/c/finka/hello_world/crt.s
software/c/finka/hello_world/main.i
software/c/finka/hello_world/main.s

# GHDL
*.o
cocotb/Finka/finka
*.ghw

# Vivado simulator backend
xsim.dir
*.wdb

# VSCode xyz-history extension
.history/

# Node
node_modules/
simWorkspace*/
